/* styles.css */

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header p {
    font-size: 18px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 24px;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    margin: 10px 0;
}

.contact ul {
    list-style-type: none;
    padding: 0;
}

.contact li {
    margin: 10px 0;
}

.contact a {
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
}

.contact a:hover {
    color: #0056b3;
}
